---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Home">
  <section aria-labelledby="intro-heading">
    <h1 id="intro-heading">Ed O'Connell</h1>
    <p>Cognition in context.</p>
  </section>
</BaseLayout>
